.titlesContainer{
  background-color: rgb(208, 205, 205);
}
.videoName {
  height: 60px;
  width: 80%;
  border: none;
}
.video {
  max-height: 75%;
  width: 100%;
  max-width: 100%;
  overflow:hidden;
}
